statusbarpanel-iconic#mobilebarcode-status-panel
{
	margin: 0;
	padding: 0;
}
image#mobilebarcode-status-image,
image#mobilebarcode-context-selection-image,
image#mobilebarcode-context-link-image
{
	margin: 20px;
	background-color: white;
}
tooltip#mobilebarcode-tooltip vbox
{
	background-color: white;
}